<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.zxing.client.android">

    <!-- 二维码：相机、震动、闪光灯 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application>

        <activity
            android:name=".CaptureActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
